# raw models
models/**/*.npz
models/**/*$$
models/**/*.bin
models/**/*.spm
models/**/*.s2t.gz
models/**/*.tar
models/**/*.yml

# corpora
*.tsv.gz
data/**/*.tsv
*.cs
*.en
*.de

# misc.
.vscode
__pycache__

# cluster
cluster_logs/*.olog
cluster_logs/*.elog
cluster_logs/*.log
tmp

# tmp submit scripts
.*.sh

# marian
core