# raw models
models/**/*.npz
models/**/*.bin
models/**/*.spm
models/**/*.s2t.gz
models/**/*.tar
models/teacher/encs/*.yml
models/teacher/csen/*.yml

# corpora
*.tsv.gz
data/**/*.tsv
data/**/*.cs
data/**/*.en
data/**/*.de

# misc.
.vscode
__pycache__

# cluster
cluster_logs/*.olog
cluster_logs/*.elog
cluster_logs/*.log

# tmp submit scripts
.*.sh